<form (ngSubmit)="onSubmit(file.files)">
  <div class="form-group">
    <input type="text" class="form-control" name="url" [(ngModel)]="imageUrl" placeholder="URL" [pattern]="urlPattern" #url="ngModel" (change)="url.errors?.pattern ? false : onUrlChanged()" required />
    <div style="color:red;" *ngIf="url.errors?.pattern">Invalid URL</div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="url.errors?.pattern || url.errors?.required || loadError">Upload</button>
</form>

<div *ngIf="uploadResponse.status === 'progress'">
  <div class="progress" style="height: 20px;margin-bottom:20px;">
    <div class="progress-bar" role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{uploadResponse.message}}%</div>
  </div>
</div>
<div *ngIf="uploadResponse.status === 'response'" style="color:green">
  {{uploadResponse.message}}
</div>
<div *ngIf="uploadResponse.status === 'error'" style="color:red">
  {{uploadResponse.message}}
</div>

<h3>Preview</h3>
<div style="color:red;">{{loadError}}</div>
<app-preview [data]="previewDataList.data"></app-preview>


